<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665190687323-0mcheb09e7efg763ar7i3qf3as2sg33r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665190687323-0mcheb09e7efg763ar7i3qf3as2sg33r</string>
	<key>API_KEY</key>
	<string>AIzaSyDxn3cY6ZksA1ER_00sTRSdWwIQ0t72kSM</string>
	<key>GCM_SENDER_ID</key>
	<string>665190687323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsween.BTG-Fantasy-Football-Pods</string>
	<key>PROJECT_ID</key>
	<string>btg-ffb-pods</string>
	<key>STORAGE_BUCKET</key>
	<string>btg-ffb-pods.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665190687323:ios:fdce095183c7e187c7157e</string>
	<key>DATABASE_URL</key>
	<string>https://btg-ffb-pods.firebaseio.com</string>
</dict>
</plist>